# Gradle
.gradle/
build/

# IntelliJ IDEA
!.idea/
.idea/*
!.idea/codeStyles
!.idea/inspectionProfiles
*.iml
*.ipr
*.iws

# Eclipse
bin/
.classpath
.project
.settings
.springBeans

# project files
src/main/resources/local.properties
