name: traintracker
services:
  postgresql:
    image: postgres:16.3-alpine
    environment:
      POSTGRES_USER: traintracker
      POSTGRES_PASSWORD: traintracker
      POSTGRES_DB: traintracker
    ports:
      - ${TRAINTRACKER_POSTGRESQL_PORT:-5432}:5432
  redis:
    image: redis:7.2.5-alpine
    ports:
      - ${TRAINTRACKER_REDIS_PORT:-6379}:6379
  jaeger:
    image: jaegertracing/all-in-one:1.58.0
    ports:
      - ${TRAINTRACKER_JAEGER_OTLP:-4318}:4318
      - ${TRAINTRACKER_JAEGER_WEB:-16686}:16686
