<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^$ index.php?page=home [QSA,NC,L]
	RewriteRule ^(.*)$ index.php?page=train&train-no=$1 [QSA,NC,L]
</IfModule>
