<!DOCTYPE html>
<html>
<head data-th-fragment="header">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title data-th-text="#{app.title}">TrainTracker</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.4/themes/blue/pace-theme-flash.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		.carrier-logo {
			height: 30px;
		}
	</style>
	<link rel="icon" href="/favicon.ico" data-th-href="@{/favicon.ico}">
</head>
<body data-th-fragment="body(report)" data-th-attr="data-carrier=${carrier.id}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/" data-th-href="@{'/' + ${carrier.id}}" data-th-text="#{navbar.title}">TrainTracker</a>
		<a class="nav-item navbar-link mr-auto" href="#" data-toggle="modal" data-target="#carrier">
			<img src="https://prodaja.hzpp.hr/Content/img/HZPP_logo_color_small.png" class="img-thumbnail carrier-logo" alt="hzpp" data-th-src="${carrier.logo}"/>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-th-text="#{navbar.language}">Language</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#" data-th-href="@{${#httpServletRequest.requestURI}(locale=en)}">
							<span class="flag-icon flag-icon-gb"></span> English
						</a>
						<a class="dropdown-item" href="#" data-th-href="@{${#httpServletRequest.requestURI}(locale=hr)}">
							<span class="flag-icon flag-icon-hr"></span> Hrvatski
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="card bg-light mt-4">
		<div class="card-body">
			<h5 class="card-title" data-th-text="#{search.title}">Search by train number</h5>
			<form class="form-inline" id="search-form" hx-target="#train-data" hx-push-url="true" data-th-attr="hx-get=@{'/' + ${carrier.id} + '/voyages'}">
				<div class="form-group mr-sm-2 mb-3">
					<label class="sr-only" for="train-no-input" data-th-text="#{search.trainNo}">Train number</label>
					<input type="text" name="train-no" class="form-control" id="train-no-input" placeholder="Train number" size="10" autofocus data-th-placeholder="#{search.trainNo}" data-th-value="${train}"/>
				</div>
				<button type="submit" class="btn btn-primary mb-3" id="submit-button" disabled data-th-text="#{search.submit}">Search</button>
			</form>
		</div>
	</div>
</div>

<div class="container" id="train-data">
	<div data-th-replace="${report}"></div>
</div>

<div class="modal fade" id="carrier" tabindex="-1" role="dialog" aria-labelledby="header-carrier">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="header-carrier" data-th-text="#{carrier.title}">Carrier</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<a class="btn btn-outline-primary btn-lg btn-block" href="#" role="button" data-th-each="carrier : ${carriers}" data-th-href="@{'/' + ${carrier.id}}">
					<img src="https://prodaja.hzpp.hr/Content/img/HZPP_logo_color_small.png" class="img-thumbnail carrier-logo" alt="hzpp" data-th-src="${carrier.logo}"/>
					<span data-th-text="#{'carrier.' + ${carrier.id}}">HZPP</span>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="shortcuts" tabindex="-1" role="dialog" aria-labelledby="header-shortcuts">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="header-shortcuts" data-th-text="#{shortcuts.title}">Shortcuts</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-2 text-right"><kbd>/</kbd></div>
					<div class="col-md-6" data-th-text="#{shortcuts.focusSearch}">Focus search input</div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right"><kbd>h</kbd></div>
					<div class="col-md-6" data-th-text="#{shortcuts.toggleHistory}">Show/hide full voyage history</div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right"><kbd>r</kbd></div>
					<div class="col-md-6" data-th-text="#{shortcuts.refresh}">Refresh current search</div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right"><kbd>c</kbd></div>
					<div class="col-md-6" data-th-text="#{shortcuts.carrierSelector}">Show carrier selector</div>
				</div>
				<div class="row">
					<div class="col-md-2 text-right"><kbd>?</kbd></div>
					<div class="col-md-6" data-th-text="#{shortcuts.show}">Show shortcuts</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.6.1/htmx.min.js" integrity="sha512-aUGLiEPPd4KYAKmXba1ZeH3JCtPEo3F8Ay1C7sRpSnOcfsczlP1j14jo3abBaMqJu9QC4pbh8TyKy9ekZ6j7Pw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.4/pace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.5/mousetrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.5/plugins/global-bind/mousetrap-global-bind.min.js"></script>
<script src="/app.js" data-th-src="@{/app.js}"></script>
</body>
</html>
