<!DOCTYPE html>
<html lang="en" data-th-lang="${#locale.language}">
<head data-th-fragment="header">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title data-th-text="#{app.title}">TrainTracker</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars.npm/bootstrap/5.2.0/dist/css/bootstrap.min.css" data-th-href="@{/assets/bootstrap/dist/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars.npm/flag-icons/6.6.4/css/flag-icons.min.css" data-th-href="@{/assets/flag-icons/css/flag-icons.min.css}"/>
	<style>
		main > .container {
			padding: 30px 15px 0;
		}
	</style>
	<link rel="icon" href="/favicon.ico" data-th-href="@{/favicon.ico}">
</head>
<body data-th-fragment="body(report)">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/" data-th-href="@{/web}" data-th-text="#{navbar.title}">TrainTracker</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/agency" data-th-href="@{'/web/' + ${agency.id}}" data-th-text="${agency.name}">Agency</a>
				</li>
			</ul>
			<ul class="navbar-nav d-flex">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-th-text="#{navbar.language}">Language</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#" data-th-href="@{''(locale=en)}">
							<span class="fi fi-gb"></span> English
						</a>
						<a class="dropdown-item" href="#" data-th-href="@{''(locale=hr)}">
							<span class="fi fi-hr"></span> Hrvatski
						</a>
					</div>
				</li>
			</ul>

		</div>
	</div>
</nav>

<main>
	<div class="container">
		<form class="row" id="search-form" hx-target="#train-data" data-th-attr="hx-get=@{'/web/' + ${agency.id} + '/voyages'}">
			<label class="visually-hidden" for="train-no-input" data-th-text="#{search.trainNo}">Train number</label>
			<div class="input-group input-group-lg">
				<input type="text" name="voyage-id" class="form-control" id="train-no-input" placeholder="Train number" size="10" autofocus data-th-placeholder="#{search.trainNo}" data-th-value="${voyageId}"/>
				<button type="submit" class="btn btn-primary" id="submit-button" disabled>
					<span class="spinner-border spinner-border-sm htmx-indicator" role="status" aria-hidden="true"></span>
					<span data-th-text="#{search.submit}">Search</span>
				</button>
			</div>
		</form>
	</div>
</main>

<div class="container" id="train-data">
	<div data-th-replace="${report}"></div>
</div>

<script src="https://cdn.jsdelivr.net/webjars/org.webjars.npm/htmx.org/1.8.0/dist/htmx.min.js" data-th-src="@{/assets/htmx.org/dist/htmx.min.js}"></script>
<script src="https://cdn.jsdelivr.net/webjars/org.webjars.npm/bootstrap/5.2.0/dist/js/bootstrap.bundle.min.js" data-th-src="@{/assets/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script src="/app.js" data-th-src="@{/app.js}"></script>
</body>
</html>
