<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Error</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars.npm/bootstrap/5.1.3/dist/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container mt-4">
	<div>
		<h1 data-th-text="${status}">Status</h1>
	</div>
	<p class="lead">
		Error: <span data-th-text="${error}">Error</span>
	</p>
	<small class="text-muted" data-th-text="${timestamp}">Timestamp</small>
</div>
</body>
</html>
