<!DOCTYPE html>
<html lang="hr" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:replace="base :: header">
</head>
<body th:replace="base :: body(~{:: div})">
	<th:block th:fragment="fragment">
		<div class="alert alert-warning" role="alert" th:text="#{voyage.notFound(${train})}">No voyage information available for train 000.</div>

		<p class="text-center text-muted"><small id="generated-time"></small></p>
	</th:block>
</body>
</html>
