<!DOCTYPE html>
<html lang="hr" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>

	<title>Voyage</title>
</head>
<body>
	<div class="container" th:fragment="fragment" th:remove="tag">
		<div class="panel" th:class="'panel ' + (${delay != null}? (${delay lt 1}? 'panel-success' : (${delay lt 20}? 'panel-warning' : 'panel-danger')) : 'panel-info')">
			<div class="panel-heading">
				<h4 class="panel-title">
					<span class="glyphicon glyphicon-info-sign"></span>
					<span th:text="#{voyage.current.title}" th:remove="tag">Current train position</span>
					<a href="#" class="pull-right" id="save" th:attr="data-train-no=${train}">
						<span class="glyphicon"></span>
					</a>
				</h4>
			</div>
			<div class="list-group">
				<div class="list-group-item" th:object="${voyage.currentStation}">
					<h4 class="list-group-item-heading" th:text="*{name}">Name</h4>
					<div class="list-group-item-text">
						<div class="row" th:if="*{arrivalTime}">
							<div class="col-xs-4" th:text="#{voyage.table.arrival}">Arrival</div>
							<div class="col-xs-2" th:text="*{arrivalTime}">00:00</div>
							<div class="col-xs-2" th:if="*{arrivalDelay}" th:text="*{'+' + arrivalDelay}"></div>
						</div>
						<div class="row" th:if="*{departureTime}">
							<div class="col-xs-4" th:text="#{voyage.table.departure}">Departure</div>
							<div class="col-xs-2" th:text="*{departureTime}">00:00</div>
							<div class="col-xs-2" th:if="*{departureDelay}" th:text="*{'+' + departureDelay}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="stations-heading">
				<h4 class="panel-title">
					<span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#stations" aria-expanded="false" aria-controls="stations">
						<span th:text="#{voyage.history.title}" th:remove="tag">Full voyage history</span>
					</a>
				</h4>
			</div>
			<div id="stations" class="panel-collapse collapse" role="tabpanel" aria-labelledby="stations-heading">
				<div class="list-group">
					<div class="list-group-item" th:each="station : ${voyage.stations}">
						<h4 class="list-group-item-heading" th:text="${station.name}">Name</h4>
						<div class="list-group-item-text">
							<div class="row" th:if="${station.arrivalTime}">
								<div class="col-xs-4" th:text="#{voyage.table.arrival}">Arrival</div>
								<div class="col-xs-2" th:text="${station.arrivalTime}">00:00</div>
								<div class="col-xs-2" th:if="${station.arrivalDelay}" th:text="${'+' + station.arrivalDelay}"></div>
							</div>
							<div class="row" th:if="${station.departureTime}">
								<div class="col-xs-4" th:text="#{voyage.table.departure}">Departure</div>
								<div class="col-xs-2" th:text="${station.departureTime}">00:00</div>
								<div class="col-xs-2" th:if="${station.departureDelay}" th:text="${'+' + station.departureDelay}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<p class="text-center text-muted">
			<small>
				<span th:text="#{voyage.providedBy}"></span>
				<a href="#" target="_blank" th:href="${voyage.carrier.website}" th:text="${voyage.carrier.name}">Carrier</a>
				(<a href="#" target="_blank" th:href="${voyage.source}" th:text="#{voyage.source}">http://example.com</a>)
			</small>
		</p>

		<p class="text-center text-muted"><small id="generated-time"></small></p>
	</div>
</body>
</html>
